# Symfony
/backendfootballapp/vendor/
/backendfootballapp/var/
/backendfootballapp/.env.local
/backendfootballapp/.DS_Store

# Angular
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/cache/

# General
*.log
.DS_Store
.idea/
.vscode/