# Symfony
/backendfootballapp/vendor/
/backendfootballapp/var/
/backendfootballapp/.env.local
/backendfootballapp/.DS_Store

# Angular
/football-app/node_modules/
/football-app/dist/
/football-app/.angular/cache/

# General
*.log
.DS_Store
.idea/
.vscode/